* {
  box-sizing: border-box;
}

.App-header {
  text-align: center;
  background: rgb(96, 134, 88);
  color: white;
  padding: 5px 0;
}

.appt-form {
  margin: 30px auto 0 auto;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  width: 450px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  input {
    margin: 10px 0;
    width: 350px;
  }

  .ant-radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .ant-switch {
    background: rgb(96, 134, 88);
  }

  .ant-btn {
    background: rgb(96, 134, 88);
    color: white;
  }
}